---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
SpaceAfterTemplateKeyword: false
PointerAlignment: Right
ReflowComments: false
Standard: c++17
AllowShortFunctionsOnASingleLine: InlineOnly
AlignAfterOpenBracket: BlockIndent
